.treeStyle {
    border-width: 3px; 
    border-color: #8f8f8f;
    border-style: ridge;
    height: 100%;
}

.treeStyle > .top{
    margin-top: 8px;
    border-width: 0 0 3px 0; 
    border-color: #8f8f8f;
    border-style: ridge;
}

.contentStyle {
    position: fixed;
    border-width: 3px; 
    border-color: #8f8f8f;
    border-style: ridge;
}

.contentStyle > img {
    max-width: 600px;
}

.container-fluid {
    margin-top: 1em;
    margin-bottom: 1em;
}

.jstree-anchor {
    width: 90%;
    text-overflow: ellipsis;
}

.loadingModal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('img/loading.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loadingModal {
    display: block;
}
